<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Tabla query 1 (ciudad): <br>
    {{ rows_query1 }}
    <br><br>
	Tabla query 3 (coordenadas): <br>
	{{ rows_query3 }}
</body>

</html>
