<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Enhorabuena! Ha insertado la siguiente información en Cassandra:
	<br>

	{ {{ pais }}, {{ codigo_postal }}, {{ pais_destino }}, {{ competidor }}, {{ divisa }}, {{ importe }}, {{ modo_entrega }}, {{ canal_captacion }}, {{ usuario }}, {{ comision }}, {{ tasa_cambio }} }
</body>

</html>
