<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Indique si desea insertar, buscar o resetear información sobre captación de precios de competencia:
	<br>
	<button onclick="sendInsertarURL();">Insertar datos</button>
	
	<button onclick="sendBusquedaURL();">Mostra tabla</button>

	<button onclick="sendResetURL();">Resetear tabla</button>

	<br>
    <button onclick="sendQuery1URL();">Query 1: Mejor tasa de una ciudad</button>
<br>
    <button onclick="sendQuery2URL();">Query 2: Mejor tasa dada geolocalización</button>
</body>

<script>
function sendInsertarURL(){
		var url = '/competencia/insertar';
        window.location.href=url;
}	

function sendBusquedaURL(){
	var url = '/competencia/busqueda';
    window.location.href=url;
}

function sendResetURL(){
	var url = '/competencia/reset';
    window.location.href=url;
}

function sendQuery1URL(){
	var url = '/competencia/query1';
    window.location.href=url;
}

function sendQuery2URL(){
	var url = '/competencia/query2';
    window.location.href=url;
}

</script>
</html>
