<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Introduzca los campos a insertar en Cassandra (por ahora hay que escribirlos, proximo update se podran seleccionar algunos):
	<br> 
	<br>

	Ciudad: <input type="text" name="Ciudad" id="Ciudad"><br>
    Pais Destino: <input type="text" name="PaisDestino" id="PaisDestino"><br>
    Divisa: <input type="text" name="Divisa" id="Divisa"><br>
	Competidor: <input type="text" name="Competidor" id="Competidor" value="Todos"><br>
	Fecha entre: <input type="text" name="minTS" id="minTS"> y <input type="text" name="maxTS" id="maxTS"><br>
	Mostrar: <input type="text" name="Mostrar" id="Mostrar" value="10"> mejores <br>
	<button onclick="sendURL();">Enviar</button>
</body>
<script>
function sendURL(){
        var ciudad = document.getElementById('Ciudad').value;
        var paisDestino = document.getElementById('PaisDestino').value;
        var divisa = document.getElementById('Divisa').value;
        var competidor = document.getElementById('Competidor').value;
        var minTS = document.getElementById('minTS').value;
        var maxTS = document.getElementById('maxTS').value;
        var mostrar =  document.getElementById('Mostrar').value;

		var url = '/competencia/query1_result?ciudad='+ciudad+'&paisDestino='+paisDestino+'&divisa='
			+divisa+'&competidor='+competidor+'&mostrar='+mostrar+'&minTS='+minTS+'&maxTS='+maxTS;
        window.location.href=url;
}	
</script>
</html>
