<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Introduzca los campos a insertar en Cassandra (por ahora hay que escribirlos, proximo update se podran seleccionar algunos):
	<br> 
	<br>

	Numero agente: <input type="text" name="NumAgente" id="NumAgente"><br>
    Pais Destino: <input type="text" name="PaisDestino" id="PaisDestino"><br>
    Divisa: <input type="text" name="Divisa" id="Divisa"><br>
	Competidor: <input type="text" name="Competidor" id="Competidor" value="Todos"><br>
	Mostrar: <input type="text" name="Mostrar" id="Mostrar" value="10"> mejores <br>
	<button onclick="sendURL();">Enviar</button>
</body>
<script>
function sendURL(){
        var numAgente = document.getElementById('NumAgente').value;
        var paisDestino = document.getElementById('PaisDestino').value;
        var divisa = document.getElementById('Divisa').value;
        var competidor = document.getElementById('Competidor').value;
        var mostrar =  document.getElementById('Mostrar').value;

		var url = '/competencia/query3_result?numAgente='+numAgente+'&paisDestino='+paisDestino
			+'&divisa='+divisa+'&competidor='+competidor+'&mostrar='+mostrar;
        window.location.href=url;
}	
</script>
</html>
