<!DOCTYPE html>
<html>
<head>
	<title>Precios competencia</title>
	
	<style>
	html,body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	#map {
		height: 100%;
	}
	
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	</style>
</head>

<body>
	Introduzca los campos a insertar en Cassandra (por ahora hay que escribirlos, proximo update se podran seleccionar algunos):
	<br> 
	<br>

	Num Agente: <input type="text" name="NumAgente" id="NumAgente" value=23><br>
    Pais Destino: <input type="text" name="PaisDestino" id="PaisDestino" value="Colombia"><br>
    Divisa: <input type="text" name="Divisa" id="Divisa" value="Peso"><br>
	Competidor: <input type="text" name="Competidor" id="Competidor" value="Todos"><br>

	<br>
	Fecha concreta (dd/mm/yyyy): <input type="text" name="ConcreteDate" id="ConcreteDate" value="13/03/2017"><br>
	Fecha entre (dd/mm/yyyy): <input type="text" name="MinDate" id="MinDate"> y <input type="text" name="MaxDate" id="MaxDate"><br>

	<br>
	Importe nominal: <input type="text" name="ImporteNominal" id="ImporteNominal"> <br>
	Rango importe: <input type="text" name="MinRangeImporteNominal" id="MinRangeImporteNominal"> hasta  <input type="text" name="MaxRangeImporteNominal" id="MaxRangeImporteNominal"> <br>

	<br>
	Mostrar: <input type="text" name="Mostrar" id="Mostrar" value="10"> mejores <br>
	<button onclick="sendURL();">Enviar</button>
</body>
<script>
function sendURL(){
     	var numAgente = document.getElementById('NumAgente').value;
        var paisDestino = document.getElementById('PaisDestino').value;
        var divisa = document.getElementById('Divisa').value;
        var competidor = document.getElementById('Competidor').value;
        var importeNominal = document.getElementById('ImporteNominal').value;
        var minRangeImporteNominal = document.getElementById('MinRangeImporteNominal').value;
		var maxRangeImporteNominal = document.getElementById('MaxRangeImporteNominal').value;
		var concreteDate = document.getElementById('ConcreteDate').value;
		var minDate = document.getElementById('MinDate').value;
		var maxDate = document.getElementById('MaxDate').value;
		var mostrar =  document.getElementById('Mostrar').value;

		var url = '/competencia/query3_result?&numAgente='+numAgente+'&paisDestino='+paisDestino
			+'&divisa='+divisa+'&competidor='+competidor+'&mostrar='+mostrar
			+'&importeNominal='+importeNominal+'&minRangeImporteNominal='+minRangeImporteNominal
			+'&maxRangeImporteNominal='+maxRangeImporteNominal+'&minDate='+minDate+'&maxDate='+maxDate
			+'&concreteDate='+concreteDate;
        window.location.href=url;
}	
</script>
</html>
